.app-wrap {
    margin: 0;
    padding: 1rem;
  }
  
  @media (max-width: 768px){
    .app-wrap {
      padding:0;
    }
} 

  @media (max-height: 640px)  {
    .app-wrap {
      padding:0;
    }
} 
